projects/ai-book-video/n8n/workflows/03-storyboard.json
{
  "name": "03 — Storyboard Creation",
  "nodes": [
    {
      "id": "form-trigger",
      "name": "Storyboard Creation",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "formTitle": "Storyboard Creation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "book_slug",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "e.g. atomic-habits"
            }
          ]
        },
        "options": {}
      },
      "webhookId": "storyboard-creation-form"
    },
    {
      "id": "read-notes",
      "name": "Read Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({command: 'read-file', path: 'books/' + $('Storyboard Creation').item.json.book_slug + '/notes.md'}) }}"
      }
    },
    {
      "id": "read-templates",
      "name": "Read Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({command: 'read-file', path: 'templates/narrative-templates.md'}) }}"
      }
    },
    {
      "id": "read-prompt",
      "name": "Read Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({command: 'read-file', path: 'n8n/prompts/storyboard.md'}) }}"
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const slug = $('Storyboard Creation').item.json.book_slug;\nconst notesContent = $('Read Notes').item.json.content;\nconst templates = $('Read Templates').item.json.content || '(narrative templates not available)';\nlet systemPrompt = $('Read Prompt').item.json.content;\n\nif (!notesContent) {\n  throw new Error('Notes not found for book: ' + slug + '. Run research step first.');\n}\nif (!systemPrompt) {\n  throw new Error('Storyboard prompt not found at n8n/prompts/storyboard.md');\n}\n\n// Replace placeholders\nsystemPrompt = systemPrompt.replace(/\\{\\{book_slug\\}\\}/g, slug);\nsystemPrompt = systemPrompt.replace(/\\{\\{notes_content\\}\\}/g, notesContent);\nsystemPrompt = systemPrompt.replace(/\\{\\{narrative_templates\\}\\}/g, templates);\n\n// Vault context — optional, set empty if not available\nsystemPrompt = systemPrompt.replace(/\\{\\{vault_library\\}\\}/g, '(not available)');\nsystemPrompt = systemPrompt.replace(/\\{\\{vault_connections\\}\\}/g, '(not available)');\nsystemPrompt = systemPrompt.replace(/\\{\\{vault_concepts\\}\\}/g, '(not available)');\n\nconst userMessage = 'Create a storyboard for the book video based on the notes and chosen angle. Pick the most appropriate narrative template based on the angle and notes. Output the full storyboard document.';\n\nreturn [{ json: { systemPrompt, userMessage, slug } }];"
      }
    },
    {
      "id": "anthropic-api",
      "name": "Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8192, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const slug = $('Build Prompt').item.json.slug;\nconst responseText = $json.content[0].text;\n\n// Extract content between delimiters if present\nlet output;\nconst startMarker = '---OUTPUT START---';\nconst endMarker = '---OUTPUT END---';\nconst startIdx = responseText.indexOf(startMarker);\nconst endIdx = responseText.indexOf(endMarker);\n\nif (startIdx !== -1 && endIdx !== -1) {\n  output = responseText.substring(startIdx + startMarker.length, endIdx).trim();\n} else {\n  output = responseText.trim();\n}\n\nreturn [{ json: { slug, storyboardContent: output } }];"
      }
    },
    {
      "id": "write-storyboard",
      "name": "Write Storyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({command: 'write-file', path: 'books/' + $json.slug + '/storyboard.md', content: $json.storyboardContent}) }}"
      }
    },
    {
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const slug = $('Extract Response').item.json.slug;\nconst content = $('Extract Response').item.json.storyboardContent;\n\n// Count scenes (### Scene NN or ### ... — ...)\nconst sceneMatches = content.match(/^###\\s+Scene\\s+\\d+|^###\\s+.+—/gm);\nconst sceneCount = sceneMatches ? sceneMatches.length : 0;\n\n// Word count\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\n\nconst lines = [\n  'Storyboard created for: ' + slug,\n  '',\n  'Stats:',\n  '  File: books/' + slug + '/storyboard.md',\n  '  Characters: ' + content.length,\n  '  Words: ' + wordCount,\n  '  Scenes detected: ' + sceneCount,\n  '',\n  'Next step: Run 04-Script workflow to generate the narration script.'\n];\n\nreturn [{ json: { summary: lines.join('\\n') } }];"
      }
    }
  ],
  "connections": {
    "Storyboard Creation": {
      "main": [
        [
          {
            "node": "Read Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Notes": {
      "main": [
        [
          {
            "node": "Read Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Templates": {
      "main": [
        [
          {
            "node": "Read Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompt": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Write Storyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Storyboard": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
